@model ErrorViewModel
@{
    ViewData["Title"] = "Klaida";
}

<div class="card text-center">
    <div class="card-header">
        @Model.ErrorTitle
    </div>
    <div class="card-body">
        <p class="card-text">@Model.ErrorMessage</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">&larr; Į pradžią</a>
    </div>
    <div class="card-footer text-muted">
        :(
    </div>
</div>